$color1: #6d4c41;
$color2: #e53935;

.fuente{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: $color1;
    color: white;
    text-align: center;
}
nav{
    background-color: $color2;
    color: white;
    text-align: center;
    margin-top: 10px;
}
aside{
    background-color: $color1;
    color: white;
    float: left;
    width: 25%;
    height: 75%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
section{
    background-color: $color1;
    color: white;
    float: right;
    width: 70%;
    height: 80%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    background-color: $color2;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 30%;
}
footer{
    background-color: $color1;
    color: white;
    text-align: center;
    clear: both;
    margin-top: 10px;
}
h1{
    background-color: $color2;
}

video::cue{
    text-align: center;
    background-color: $color2;    
}
#enviar{
    padding: .10em;
}
form{
    padding: .10em;
}
  
@media screen and (max-width: 800px) {
    #enviar{
        padding: .50em;
    }
    form input{
        padding: .50em;
    }
    aside{
        width: 100%;
    }
    section{
        clear: both;
        width: 100%;
    }
    img{
        width:70%;
    }
    video{
        width: 70%;
    }
    
}